figcaption{
	background-color: rgba(0,0,0,.9);
  	padding: 30px;
  	width: 140px;
  	height: 140px;
  	border-radius: 100px;
  	position: absolute;
  	opacity: 0;
  	right: :50%;
  	transition: opacity 1s ease;
  	font-size: 1.3rem;

}

figcaption:hover{
	opacity: 1;
	transition: opacity 1s ease;
	box-shadow: inset 0 0 10px rgba(0,0,0,.9);
}
#member_content{
	color: white;
	font-style: bold;
}
.member1{
	position:absolute;
	width: 200px;                              
	height: 200px;                            
  background-image: url("../member.png");
  background-size: contain;
  border-radius: 100px;
  left: 30%;
  margin-top: 3%;

 }

.member3{
	position:absolute;
	width: 200px;                              
	height: 200px;                            
  	background-image: url("../member.png");
  	background-size: contain;                          
  	border-radius: 100px;
  	left: 30%;
  	margin-top: 19%
}

.member5{
	position:absolute;
	width: 200px;                              
	height: 200px;                            
  	background-image: url("../member.png");
  	background-size: contain;                           
  	border-radius: 100px;
  	left: 30%;
  	margin-top: 36%
}


.member2{
	position: absolute;
	width: 200px;                              
	height: 200px;                            
  	background-image: url("../member.png");
  	background-size: contain;                         
  	border-radius: 100px;
  	right:30%;
  	margin-top: 3%;

 }

.member4{
	position: absolute;
	width: 200px;                              
	height: 200px;                            
  	background-image: url("../member.png");
  	background-size: contain;                           
  	border-radius: 100px;
  	right:30%;
  	margin-top: 19%;
}

.member6{
	position: absolute;
	width: 200px;                              
	height: 200px;                            
  	background-image: url("../member.png");
  	background-size: contain;                          
  	border-radius: 100px;
  	right:30%;
  	margin-top: 36%;

}


@media all and (max-width: 1440px){

figcaption{
  width: 90px;
  height: 90px;
  font-size: .8rem;  
}
.member1{
	width: 150px;                              
	height: 150px; 
 }

.member3{
	width: 150px;                              
	height: 150px; 
}

.member5{
	width: 150px;                              
	height: 150px; 
}

.member2{
	width: 150px;                              
	height: 150px; 

 }

.member4{
	width: 150px;                              
	height: 150px; 
}

.member6{
	width: 150px;                              
	height: 150px;                            
	}
}